.aside {
  width: 30%;
  background-color: @gray-superlight;
  font-size: 1.2rem;
  color: @gray-middle;
  padding: 2rem 1.5rem;

  &__item {
    list-style: none;
    padding: 1rem 0;
    border-bottom: 1px solid @gray-light;
  }

  &__btn {
    color: @gray-middle;
    display: flex;
    justify-content: space-between;

    &:hover {
      color: @red;
    }

    &:active {
      outline: none;
      filter: grayscale(100%);
    }

    &:focus {
      outline: none;
      filter: grayscale(100%);
    }
  }
}