.content{
   background-color:@gray-light ;
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 1.5rem;

  &__post{
    width: 30%;
    margin-bottom: 2rem;
    }

 }