.content{
   background-color:@gray-light ;
  width: 74%;


  &__posts{
    display: flex;

    flex-wrap: wrap;
    padding: 2rem 1.5rem;
  }

  &__post{
    width: 32%;
    margin-bottom: 2rem;
    margin-left: 1%;

    }

  &__pagination{
    width: 15rem;
    margin: 0 auto;
  }
}