*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: @font-size/1.6 'Open Sans', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 96rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding:0;
}

.hidden {
  display: none;
}
.btn {
  .ib(middle);
  border: 0;
  outline: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  line-height: 1;
  text-align: center;
  border-radius: 0;

    &--stacked {
      display: block;
      width: 100%;
    }
  &__rating{
    padding: 1.1rem;
    @media screen and (max-width: 500px){

      padding: 0.8rem;
    }
    &--left{
      background: url(../img/btn-left.png) no-repeat center / cover;

    }
    &--right{
      background: url(../img/btn-right.png) no-repeat center / cover;
    }
  }
}
